<p>
<a (click)="turretInfo()">
  <img class="turret1" src="https://vignette.wikia.nocookie.net/planetside2/images/f/f2/Aspis_Phalanx_Turret.png/revision/latest?cb=20160416153351">
  <img class="turret2" src="https://vignette.wikia.nocookie.net/planetside2/images/f/f2/Aspis_Phalanx_Turret.png/revision/latest?cb=20160416153351">
  <img class="turret3" src="https://vignette.wikia.nocookie.net/planetside2/images/f/f2/Aspis_Phalanx_Turret.png/revision/latest?cb=20160416153351">
  <img class="turret4" src="https://vignette.wikia.nocookie.net/planetside2/images/f/f2/Aspis_Phalanx_Turret.png/revision/latest?cb=20160416153351">
</a>
</p>
